<mat-card *ngIf="cart.attributes.cart_products.length" class="max-w-7xl mx-auto">
  <table [dataSource]="dataSource" class="mat-elevation-z8 w-full" mat-table>
    <ng-container matColumnDef="product">
      <th *matHeaderCellDef mat-header-cell>Product</th>
      <td *matCellDef="let element" mat-cell>
        <img alt="product" class="w-[100px] my-5" src="https://via.placeholder.com/150"/>
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <button mat-raised-button routerLink="">Continue shopping</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let element" mat-cell>
        <span class="truncate max-w-xs block">{{element.name}}</span>
      </td>
      <td *matFooterCellDef mat-footer-cell>
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell>Price</th>
      <td *matCellDef="let element" mat-cell>
        {{element.price | currency:'EUR'}}
      </td>
      <td *matFooterCellDef mat-footer-cell>
      </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th *matHeaderCellDef mat-header-cell>Quantity</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="onDecreaseQuantity(element)" mat-icon-button>
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{element.quantity}}</span>
        <button (click)="onIncreaseQuantity(element)" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td *matFooterCellDef mat-footer-cell>
      </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th *matHeaderCellDef mat-header-cell>Total</th>
      <td *matCellDef="let element" mat-cell>
        {{ (element.quantity * element.price) | currency:'EUR'}}
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <span class="font-bold py-5 block">{{ cart.attributes.total | currency:'EUR'}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell>
        <button (click)="onClearCart()" class="float-right" color="warn" mat-raised-button>
          Clear All
        </button>
      </th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="onRemoveFromCart(element)" class="float-right" color="warn" mat-mini-fab>
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <button class="float-right" color="primary" mat-raised-button>
          Proceed To Checkout
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
  </table>
</mat-card>

<mat-card *ngIf="!cart.attributes.cart_products.length" class="max-w-7xl mx-auto">
  <p>
    Your cart is empty.
    <button mat-raised-button routerLink="">Start shopping</button>
  </p>
</mat-card>
